<!DOCTYPE html>
<html>
  <head>
    <title>New skill</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form action="/" method="POST" autocomplete="off">
      <label for="">Name:</label>&nbsp;
      <input type="text" value="" name="name" /><br />
      <label for="">Description:</label>&nbsp;
      <input type="text" size="50px" value="" name="des" /><br />
      <button type="submit">Submit Skills</button>
    </form>
  </body>
</html>
