<!DOCTYPE html>
<html>
  <head>
    <title>This is detail of skill</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Skillz</h1>
    <h2>Name:</h2>
    <%=selectSkill.name%>
    <h2>Descriptiaon:</h2>
    <%=selectSkill.des%>
  </body>
</html>
